In [205]:
from bs4 import BeautifulSoup
import requests

In [206]:
#Table A - GDP Table

url = "https://en.wikipedia.org/wiki/List_of_cities_by_GDP#Cities_by_wealth"
soup = BeautifulSoup(requests.get(url).content, "html.parser")

In [207]:
A_table = soup.find_all("table")[2]
A_table_2 = soup.find_all("table")[3]

In [208]:
A_headers = A_table.find_all("th")
A_headers = [title.text.strip() for title in A_headers]


A_headers[0] = "City Proper/Metropolitan Area"
A_headers[1] = "Country/Region"
A_headers[-1] = "Metropolitan Population"
A_headers[2] = 'Official est. GDP up to date (billion US$)'
A_headers.insert(0, "GDP ID")
A_headers.insert(4, "GDP Year")
A_headers.insert(6, "Population Year")
print(A_headers)

['GDP ID', 'City Proper/Metropolitan Area', 'Country/Region', 'Official est. GDP up to date (billion US$)', 'GDP Year', 'Metropolitan Population', 'Population Year']

In [209]:
import pandas as pd

In [210]:
def remove_until_parenthesis(s):
    for i in range(len(s) - 1, -1, -1):
        if s[i] == ')':
            return s[:i+1]
    return s

In [211]:
TABLE_A = pd.DataFrame(columns=A_headers)
A_rows = A_table.find_all("tr")
count = 0
for row in A_rows:

    row_data = row.find_all('td')
    indiv_row_data = [data.text.strip() for data in row_data]
    #First row is [] so when count >0
    if count>0:
        # Extract data that are in same cells on web page
        GDP_split = indiv_row_data[2].split()
        indiv_row_data.pop(2)
        indiv_row_data.insert(2, GDP_split[0])
        try:
            GDP_split_year = remove_until_parenthesis(GDP_split[1])
        except IndexError:
            GDP_split_year = ""
        GDP_split_year = GDP_split_year.replace("(", "").replace(")", "")
        indiv_row_data.insert(3, GDP_split_year)
        POP_split = indiv_row_data[4].split()
        indiv_row_data.pop(4)
        indiv_row_data.insert(4, POP_split[0])
        try:
            POP_split_year = remove_until_parenthesis(POP_split[1])
        except IndexError:
            POP_split_year = ""
        POP_split_year = POP_split_year.replace("(", "").replace(")", "")
        indiv_row_data.insert(5, POP_split_year)
        indiv_row_data.insert(0, count)

        #Formatting numbers to be numbers GDP: Float. Pop, GDP year, pop year: int
        #adding "" to cells that contain comma
        for i in range(1, len(indiv_row_data)):
            if i>2:
                if i ==3:
                    indiv_row_data[i] = float(indiv_row_data[i].replace(",", ""))
                else:
                    try:
                        indiv_row_data[i] = int(indiv_row_data[i].replace(",", ""))
                    except ValueError: #two years in one Ex: 2014-15
                        #Sol: Let it be the later year (ex 2015)
                        if indiv_row_data[i] == "": next
                        else: indiv_row_data[i] = int(indiv_row_data[i][:-3])+1
            else:
                if indiv_row_data[i].find(",") != -1:
                    indiv_row_data[i] = '"' + indiv_row_data[i] + '"'

        print(indiv_row_data)

        #inserting into df
        length = len(TABLE_A)
        TABLE_A.loc[length] = indiv_row_data
    count+=1


A2_rows = A_table_2.find_all("tr")
count1 = 0
for row in A2_rows:
    row_data = row.find_all("td")
    indiv_row_data = [data.text.strip() for data in row_data]
    if count1>0:
        indiv_row_data = indiv_row_data[:3]
        #Rearranging data to fit columns of table A
        placeholder = indiv_row_data[1]
        indiv_row_data[1] = indiv_row_data[2]
        indiv_row_data[2] = placeholder
        #Filling blank space in data with NA
        indiv_row_data.append("")
        indiv_row_data.append("")
        indiv_row_data.append("")

        indiv_row_data.insert(0, count+count1-1)

        #Formatting numbers to be numbers GDP: Float. Pop, GDP year, pop year: int
        #adding "" to cells that contain comma
        for i in range(1, 4):
                if i ==3:
                        indiv_row_data[i] = float(indiv_row_data[i].replace(",", ""))
                else:
                    if indiv_row_data[i].find(",") != -1:
                        indiv_row_data[i] = '"' + indiv_row_data[i] + '"'

        print(indiv_row_data)
        #Insert into table 
        length = len(TABLE_A)
        TABLE_A.loc[length] = indiv_row_data
    count1 +=1

[1, 'A Coruña metropolitan area', 'Spain', 28.819, 2020, 1121815, 2020]
[2, 'Aachen', 'Germany', 24.296, 2020, 249070, 2021]
[3, 'Aalborg', 'Denmark', 31.855, 2021, 219487, 2021]
[4, 'Aarhus', 'Denmark', 54.927, 2021, 352751, 2021]
[5, '"Abbotsford, British Columbia"', 'Canada', 7.435, 2021, 205834, 2021]
[6, '"Aberdeen, Scotland"', 'United Kingdom', 23.0, 2020, 489840, 2020]
[7, 'Abidjan', 'Ivory Coast', 27.0, 2017, 5600000, 2020]
[8, '"Abilene, TX MSA"', 'United States', 10.306623, 2023, 181591, 2023]
[9, 'Abu Dhabi metropolitan area', 'United Arab Emirates', 277.93, 2023, 1740000, 2023]
[10, 'Addis Ababa', 'Ethiopia', 61.2, 2023, 5400000, 2023]
[11, 'Adelaide', 'Australia', 64.461, 2019, 1344368, 2019]
[12, 'Ahmedabad', 'India', 136.1, 2023, 9300000, 2023]
[13, 'Aix-Marseille-Provence Metropolis', 'France', 135.038, 2021, 1680000, 2021]
[14, '"Akron, OH MSA"', 'United States', 47.285487, 2023, 698398, 2023]
[15, '"Albany, GA MSA"', 'United States', 7.782093, 2023, 145508, 2023]
[16, '"Albany-Lebanon, OR MSA"', 'United States', 6.44152, 2023, 130467, 2022]
[17, '"Albany-Schenectady-Troy, NY MSA"', 'United States', 84.910398, 2023, 904682, 2023]
[18, '"Albuquerque, NM MSA"', 'United States', 59.382941, 2023, 922296, 2023]
[19, 'Alexandria', 'Egypt', 36.0, 2021, 5950000, 2021]
[20, '"Alexandria, LA MSA"', 'United States', 7.753574, 2023, 148171, 2023]
[21, 'Alicante metropolitan area', 'Spain', 38.851, 2020, 1915282, 2020]
[22, '"Allentown-Bethlehem-Easton, PA-NJ MSA"', 'United States', 59.89099, 2023, 873555, 2023]
[23, 'Almaty', 'Kazakhstan', 41.485, 2022, 2250000, 2022]
[24, '"Altoona, PA MSA"', 'United States', 7.68116, 2023, 120273, 2023]
[25, 'Alxa League', 'China', 4.419, 2020, 262361, 2020]
[26, '"Amarillo, TX MSA"', 'United States', 18.913682, 2023, 272395, 2023]
[27, '"Ames, IA MSA"', 'United States', 8.615031, 2023, 125156, 2023]
[28, 'Amiens', 'France', 19.418, 2021, 304331, 2021]
[29, 'Amsterdam metropolitan area', 'Netherlands', 237.841, 2022, 2500000, 2022]
[30, 'Anápolis', 'Brazil', 6.74, 2011, 398869, 2022]
[31, '"Anchorage, AK MSA"', 'United States', 34.065381, 2023, 401314, 2023]
[32, 'Angers Loire Métropole', 'France', 29.379, 2021, 394256, 2021]
[33, 'Ankara', 'Turkey', 74.83, 2021, 5150000, 2021]
[34, '"Ann Arbor, MI MSA"', 'United States', 33.013856, 2023, 365536, 2023]
[35, 'Annecy', 'France', 29.98, 2021, 183697, 2021]
[36, '"Anniston-Oxford, AL MSA"', 'United States', 5.891059, 2023, 116429, 2023]
[37, 'Anshan', 'China', 80.968, 2020, 2625000, 2020]
[38, 'Antwerp metropolitan area', 'Belgium', 66.063, 2021, 1230000, 2021]
[39, '"Appleton, Wisconsin metropolitan area"', 'United States', 18.532326, 2023, 246433, 2023]
[40, 'Arnhem–Nijmegen metropolitan area', 'Netherlands', 34.621, 2021, 774506, 2022]
[41, '"Asheville, NC MSA"', 'United States', 29.014297, 2023, 417202, 2023]
[42, 'Astana', 'Kazakhstan', 23.115, 2022, 1350228, 2022]
[43, 'Asturias metropolitan area', 'Spain', 27.152, 2022, 1009088, 2022]
[44, 'Athens Metropolitan Area', 'Greece', 85.809, 2020, 3350000, 2020]
[45, '"Athens-Clarke County, GA MSA"', 'United States', 13.768348, 2023, 222060, 2023]
[46, '"Atlanta-Sandy Springs-Roswell, GA (Metropolitan Statistical Area)"', 'United States', 570.662834, 2023, 6100000, 2023]
[47, '"Atlantic City-Hammonton, NJ MSA"', 'United States', 18.726628, 2023, 369823, 2023]
[48, '"Auburn-Opelika, AL MSA"', 'United States', 8.799349, 2023, 201585, 2023]
[49, 'Auckland', 'New Zealand', 139.5, 2022, 1531400, 2022]
[50, '"Augusta-Richmond County, GA-SC MSA"', 'United States', 37.292712, 2023, 629429, 2023]
[51, '"Austin-Round Rock, TX (Metropolitan Statistical Area)"', 'United States', 248.109564, 2023, 2175000, 2023]
[52, '"Bakersfield, CA MSA"', 'United States', 59.84681, 2023, 916108, 2022]
[53, 'Balikpapan-Samarinda Metropolitan', 'Indonesia', 29.901, 2021, 2621877, 2021]
[54, 'Ballarat', 'Australia', 4.46, 2019, 108491, 2019]
[55, '"Baltimore-Columbia-Towson, MD (Metropolitan Statistical Area)"', 'United States', 259.690214, 2023, 2834316, 2023]
[56, 'Bandung Metropolitan', 'Indonesia', 38.29, 2021, 7050000, 2021]
[57, 'Bangkok Metropolitan Region', 'Thailand', 252.128, 2022, 19900000, 2022]
[58, '"Bangor, ME MSA"', 'United States', 9.020616, 2023, 155312, 2023]
[59, 'Banjarmasin Metropolitan', 'Indonesia', 6.017, 2021, 2164485, 2021]
[60, 'Baotou', 'China', 40.412, 2020, 2225000, 2020]
[61, 'Barcelona metropolitan area', 'Spain', 182.524, 2020, 4775000, 2020]
[62, '"Barnstable Town, MA MSA"', 'United States', 18.186673, 2023, 231735, 2023]
[63, 'Barrie', 'Canada', 7.646, 2021, 221954, 2021]
[64, 'Batam Metropolitan', 'Indonesia', 16.006, 2021, 1450000, 2021]
[65, '"Baton Rouge, LA MSA"', 'United States', 68.82718, 2023, 873661, 2023]
[66, '"Battle Creek, MI MSA"', 'United States', 8.543282, 2023, 133366, 2023]
[67, '"Bay City, MI MSA"', 'United States', 4.507259, 2023, 102500, 2023]
[68, '"Beaumont-Port Arthur, TX MSA"', 'United States', 31.114626, 2023, 395479, 2023]
[69, '"Beckley, WV MSA"', 'United States', 5.541536, 2023, 111428, 2023]
[70, 'Belfast', 'United Kingdom', 30.13, 2024, 623624, 2024]
[71, 'Belgrade', 'Serbia', 25.31, 2021, 1430000, 2021]
[72, '"Belleville, Ontario"', 'Canada', 4.512, 2021, 113875, 2021]
[73, '"Bellingham, WA MSA"', 'United States', 21.489731, 2023, 231919, 2023]
[74, 'Belo Horizonte', 'Brazil', 54.996, 2011, 6006887, 2022]
[75, '"Bend, OR MSA"', 'United States', 15.445974, 2023, 260919, 2023]
[76, 'Bendigo', 'Australia', 3.961, 2019, 99416, 2019]
[77, 'Bengaluru', 'India', 359.9, 2023, 13700000, 2023]
[78, 'Bergamo metropolitan area', 'Italy', 40.539, 2020, 1102286, 2020]
[79, 'Berlin/Brandenburg Metropolitan Region', 'Germany', 271.818, 2021, 4750000, 2021]
[80, 'Bhopal', 'India', 5.35, 2023, 2600000, 2023]
[81, 'Bielefeld', 'Germany', 16.19, 2020, 591862, 2021]
[82, 'Bielsko-Biała', 'Poland', 10.147, 2020, 169756, 2020]
[83, 'Bilbao metropolitan area', 'Spain', 37.568, 2020, 1014366, 2020]
[84, '"Billings, MT MSA"', 'United States', 14.407832, 2023, 191435, 2023]
[85, '"Binghamton, NY MSA"', 'United States', 12.927169, 2023, 243792, 2023]
[86, 'Birmingham (West Midlands)', 'United Kingdom', 164.18, 2024, 3027872, 2024]
[87, '"Birmingham-Hoover, AL MSA"', 'United States', 84.56617, 2023, 1116857, 2022]
[88, '"Bismarck, ND MSA"', 'United States', 9.430711, 2023, 135786, 2023]
[89, '"Blacksburg-Christiansburg, VA MSA"', 'United States', 10.166304, 2023, 165812, 2022]
[90, '"Bloomington, IL MSA"', 'United States', 15.005648, 2023, 170441, 2023]
[91, '"Bloomington, IN MSA"', 'United States', 9.641723, 2023, 160874, 2023]
[92, '"Bloomsburg-Berwick, PA MSA"', 'United States', 5.61301, 2023, 83017, 2022]
[93, 'Bocholt metropolitan area', 'Germany', 16.488, 2020, 71074, 2021]
[94, '"Boise, ID MSA"', 'United States', 55.331136, 2023, 824657, 2023]
[95, 'Bologna metropolitan area', 'Italy', 45.648, 2020, 1017225, 2020]
[96, 'Bordeaux', 'France', 73.813, 2021, 1100000, 2021]
[97, '"Boston-Cambridge-Newton, MA-NH (Metropolitan Statistical Area)"', 'United States', 610.486075, 2023, 4919179, 2023]
[98, '"Boulder, CO MSA"', 'United States', 37.662897, 2023, 326831, 2023]
[99, 'Bournemouth and Poole', 'United Kingdom', 16.864, 2022, 401897, 2022]
[100, '"Bowling Green, KY MSA"', 'United States', 11.830435, 2023, 188840, 2023]
[101, 'Brantford', 'Canada', 5.385, 2021, 154782, 2021]
[102, 'Brasília', 'Brazil', 65.338, 2016, 4627771, 2019]
[103, 'Brașov', 'Romania', 8.472, 2020, 371802, 2021]
[104, 'Bratislava metropolitan area', 'Slovakia', 33.072, 2021, 719537, 2021]
[105, 'Breda', 'Netherlands', 33.23, 2020, 324812, 2014]
[106, 'Bremen', 'Germany', 56.517, 2020, 1000000, 2020]
[107, '"Bremerton-Silverdale-Port Orchard, WA MSA"', 'United States', 17.319445, 2023, 277658, 2023]
[108, 'Brescia metropolitan area', 'Italy', 46.603, 2020, 1250527, 2020]
[109, 'Brest Métropole', 'France', 32.956, 2021, 381226, 2021]
[110, '"Bridgeport-Stamford-Norwalk, CT (Metropolitan Statistical Area)"', 'United States', 116.030979, 2023, 962946, 2022]
[111, 'Brighton & Hove', 'United Kingdom', 15.076, 2022, 277963, 2022]
[112, 'Brisbane', 'Australia', 177.0, 2019, 2388038, 2019]
[113, 'Bristol', 'United Kingdom', 33.621552, 2024, 700449, 2024]
[114, 'Brno', 'Czech Republic', 30.963, 2021, 398510, 2021]
[115, '"Brownsville-Harlingen, TX MSA"', 'United States', 15.602248, 2023, 426710, 2023]
[116, '"Brunswick, GA MSA"', 'United States', 6.444126, 2023, 114442, 2022]
[117, 'Brussels metropolitan area', 'Belgium', 237.08, 2022, 2725000, 2022]
[118, 'Bucharest Metropolitan Area', 'Romania', 78.052, 2021, 2200000, 2021]
[119, 'Budapest metropolitan area', 'Hungary', 86.93, 2021, 2625000, 2021]
[120, '"Buffalo-Niagara Falls, NY (Metropolitan Statistical Area)"', 'United States', 90.716457, 2023, 1155604, 2023]
[121, '"Burlington, NC MSA"', 'United States', 8.624438, 2023, 179165, 2023]
[122, '"Burlington-South Burlington, VT MSA"', 'United States', 18.671208, 2023, 227942, 2023]
[123, 'Bursa', 'Turkey', 33.641, 2021, 2125000, 2021]
[124, 'Busan-Gyeongnam Area', 'South Korea', 252.145, 2022, 5115000, 2022]
[125, 'Bydgoszcz–Toruń metropolitan area', 'Poland', 12.417, 2020, 752655, 2019]
[126, 'Cádiz-Jerez metropolitan area', 'Spain', 22.971, 2020, 639560, 2022]
[127, 'Caen', 'France', 25.054, 2021, 395885, 2021]
[128, 'Cairns', 'Australia', 10.709, 2019, 153951, 2019]
[129, 'Calgary Metropolitan Region', 'Canada', 92.109, 2021, 1558588, 2021]
[130, '"California-Lexington Park, MD MSA"', 'United States', 9.88263, 2023, 114877, 2022]
[131, 'Campinas', 'Brazil', 40.525, 2011, 3264915, 2019]
[132, 'Campo Grande', 'Brazil', 9.59, 2013, 898100, 2022]
[133, 'Campos dos Goytacazes', 'Brazil', 5.358, 2016, 511168, 2020]
[134, 'Canberra', 'Australia', 30.909, 2019, 465118, 2019]
[135, '"Canton-Massillon, OH MSA"', 'United States', 24.599897, 2023, 399474, 2023]
[136, '"Cape Coral-Fort Myers, FL MSA"', 'United States', 50.645899, 2023, 834573, 2023]
[137, '"Cape Girardeau, MO-IL MSA"', 'United States', 5.797295, 2023, 98223, 2023]
[138, 'Cape Town', 'South Africa', 56.3, 2022, 4375000, 2022]
[139, 'Caracas', 'Venezuela', 70.0, 2012, 1942652, 2011]
[140, '"Carbondale-Marion, IL MSA"', 'United States', 7.263128, 2023, 132693, 2022]
[141, 'Cardiff and Vale of Glamorgan', 'United Kingdom', 21.983, 2022, 505569, 2022]
[142, '"Carson City, NV MSA"', 'United States', 4.777092, 2023, 58036, 2023]
[143, 'Casablanca', 'Morocco', 47.0, 2022, 4625000, 2022]
[144, '"Casper, WY MSA"', 'United States', 6.983637, 2023, 79941, 2023]
[145, '"Cedar Rapids, IA MSA"', 'United States', 22.96263, 2023, 275668, 2023]
[146, 'Central German Metropolitan Region', 'Germany', 109.582, 2020, 2411051, 2020]
[147, '"Chambersburg-Waynesboro, PA MSA"', 'United States', 8.14884, 2023, 156902, 2022]
[148, '"Champaign-Urbana, IL MSA"', 'United States', 15.512304, 2023, 235608, 2023]
[149, 'Chandigarh', 'India', 6.0, 2023, 2575000, 2023]
[150, 'Changchun', 'China', 96.24, 2020, 3700000, 2020]
[151, 'Changde', 'China', 54.355, 2020, 1160000, 2020]
[152, 'Changji Prefecture', 'China', 20.113, 2020, 1613585, 2020]
[153, 'Changsha', 'China', 208.0, 2022, 10420600, 2022]
[154, 'Charleroi', 'Belgium', 16.93, 2021, 396820, 2021]
[155, '"Charleston-North Charleston, SC MSA"', 'United States', 63.973949, 2023, 849417, 2023]
[156, '"Charleston, WV MSA"', 'United States', 16.291494, 2023, 203164, 2023]
[157, '"Charlotte-Concord-Gastonia, NC-SC (Metropolitan Statistical Area)"', 'United States', 255.666417, 2023, 2805115, 2023]
[158, '"Charlottesville, VA MSA"', 'United States', 18.817343, 2023, 225127, 2023]
[159, '"Chattanooga, TN-GA MSA"', 'United States', 42.381201, 2023, 580971, 2023]
[160, 'Chengdu', 'China', 260.409, 2023, 16600000, 2023]
[161, 'Chennai', 'India', 219.0, 2020, 11300000, 2020]
[162, '"Cheyenne, WY MSA"', 'United States', 8.285241, 2023, 100984, 2023]
[163, '"Chicago-Naperville-Elgin, IL-IN-WI (Metropolitan Statistical Area)"', 'United States', 894.862364, 2023, 9900000, 2023]
[164, '"Chico, CA MSA"', 'United States', 11.727399, 2023, 207172, 2023]
[165, 'Chilliwack', 'Canada', 3.861, 2021, 119221, 2021]
[166, 'Chittagong', 'Bangladesh', 25.5, 2019, 4925000, 2020]
[167, 'Chongqing', 'China', 407.562, 2022, 10100000, 2022]
[168, 'Chuzhou', 'China', 43.96, 2020, 3937868, 2020]
[169, '"Cincinnati, OH-KY-IN (Metropolitan Statistical Area)"', 'United States', 198.888723, 2023, 2271479, 2023]
[170, '"Clarksville, TN-KY MSA"', 'United States', 17.765745, 2023, 340495, 2023]
[171, 'Clermont-Ferrand', 'France', 26.492, 2021, 362578, 2021]
[172, '"Cleveland-Elyria, OH (Metropolitan Statistical Area)"', 'United States', 173.135607, 2023, 2063132, 2022]
[173, '"Cleveland, TN MSA"', 'United States', 6.807509, 2023, 129612, 2023]
[174, 'Cluj-Napoca', 'Romania', 13.155, 2020, 286598, 2021]
[175, 'Cocos (Keeling) Islands', 'Cocos (Keeling) Islands', 0.011, 2010, 561, 2011]
[176, '"Coeur d\'Alene, ID MSA"', 'United States', 10.583848, 2023, 185010, 2023]
[177, 'Coimbatore', 'India', 45.0, 2021, 2775000, 2021]
[178, 'Coimbra', 'Portugal', 9.837, 2021, 140796, 2021]
[179, '"College Station-Bryan, TX MSA"', 'United States', 19.585335, 2023, 281445, 2023]
[180, '"Colorado Springs, CO MSA"', 'United States', 53.092641, 2023, 768832, 2023]
[181, '"Columbia, MO MSA"', 'United States', 13.572357, 2023, 216511, 2023]
[182, '"Columbia, SC MSA"', 'United States', 58.497422, 2023, 858302, 2023]
[183, '"Columbus, GA-AL MSA"', 'United States', 18.710583, 2023, 323768, 2023]
[184, '"Columbus, IN MSA"', 'United States', 8.668346, 2023, 84003, 2023]
[185, '"Columbus, OH (Metropolitan Statistical Area)"', 'United States', 182.087631, 2023, 2180271, 2023]
[186, "Communauté d'agglomération Nîmes Métropole", 'France', 23.471, 2021, 564024, 2021]
[187, "Communauté d'agglomération Pau Béarn Pyrénées", 'France', 26.427, 2021, 311949, 2021]
[188, 'Constanța', 'Romania', 9.159, 2020, 263688, 2021]
[189, 'Copenhagen metropolitan area', 'Denmark', 179.846, 2021, 1690000, 2021]
[190, 'Córdoba metropolitan area', 'Spain', 14.929, 2020, 326039, 2020]
[191, '"Corpus Christi, TX MSA"', 'United States', 30.93092, 2023, 448323, 2023]
[192, '"Corvallis, OR MSA"', 'United States', 6.035305, 2023, 97713, 2023]
[193, 'Coventry', 'United Kingdom', 13.9, 2020, 379387, 2020]
[194, '"Crestview-Fort Walton Beach-Destin, FL MSA"', 'United States', 23.79472, 2023, 304818, 2023]
[195, '"Cumberland, MD-WV MSA"', 'United States', 4.359585, 2023, 94122, 2022]
[196, 'Curitiba', 'Brazil', 58.082, 2011, 3654960, 2010]
[197, 'Daegu', 'South Korea', 50.4, 2022, 2750000, 2022]
[198, 'Daejeon', 'South Korea', 40.0, 2022, 1540000, 2022]
[199, 'Dalian', 'China', 125.0, 2022, 5050000, 2022]
[200, '"Dallas-Fort Worth-Arlington, TX (Metropolitan Statistical Area)"', 'United States', 744.653629, 2023, 8100037, 2023]
[201, '"Dalton, GA MSA"', 'United States', 9.271266, 2023, 144722, 2023]
[202, '"Danville, IL MSA"', 'United States', 4.136523, 2023, 72337, 2022]
[203, '"Daphne-Fairhope-Foley, AL MSA"', 'United States', 12.071468, 2023, 253507, 2023]
[204, 'Daqing', 'China', 33.362, 2020, 1620000, 2020]
[205, 'Dar es Salaam', 'Tanzania', 10.4, 2019, 6450000, 2020]
[206, '"Davenport-Moline-Rock Island, IA-IL MSA"', 'United States', 27.875132, 2023, 379441, 2023]
[207, '"Dayton, OH MSA"', 'United States', 41.111, 2017, 812595, 2022]
[208, '"Decatur, AL MSA"', 'United States', 8.841158, 2023, 158635, 2023]
[209, '"Decatur, IL MSA"', 'United States', 8.822934, 2023, 100591, 2023]
[210, '"Deltona-Daytona Beach-Ormond Beach, FL MSA"', 'United States', 32.539529, 2023, 721796, 2023]
[211, 'Denpasar Metropolitan', 'Indonesia', 9.941, 2021, 1580000, 2021]
[212, '"Denver-Aurora-Lakewood, CO (Metropolitan Statistical Area)"', 'United States', 311.876352, 2023, 3950000, 2023]
[213, 'Derby', 'United Kingdom', 11.511, 2022, 263490, 2022]
[214, '"Des Moines-West Des Moines, IA MSA"', 'United States', 74.062506, 2023, 737164, 2023]
[215, '"Detroit-Warren-Dearborn, MI (Metropolitan Statistical Area)"', 'United States', 331.333163, 2023, 4342304, 2023]
[216, 'Deyang', 'China', 34.855, 2020, 3456161, 2020]
[217, 'Dijon Métropole', 'France', 23.472, 2021, 368440, 2021]
[218, 'Dongying', 'China', 43.222, 2020, 2193518, 2020]
[219, '"Dothan, AL MSA"', 'United States', 9.09936, 2023, 153349, 2023]
[220, '"Dover, DE MSA"', 'United States', 10.509748, 2023, 189789, 2023]
[221, 'Dresden', 'Germany', 50.788, 2020, 1343747, 2020]
[222, 'Drummondville', 'Canada', 3.967, 2021, 102526, 2021]
[223, 'Dubai-Sharjah-Ajman metropolitan area', 'United Arab Emirates', 202.8, 2022, 6050000, 2022]
[224, '"Dubuque, IA MSA"', 'United States', 9.017369, 2023, 98887, 2023]
[225, '"Duluth, MN-WI MSA"', 'United States', 18.838611, 2023, 281603, 2023]
[226, 'Durban', 'South Africa', 64.7, 2022, 3525000, 2022]
[227, '"Durham-Chapel Hill, NC MSA"', 'United States', 70.305292, 2023, 608879, 2023]
[228, '"East Stroudsburg, PA MSA"', 'United States', 9.215416, 2023, 167198, 2022]
[229, '"Eau Claire, WI MSA"', 'United States', 11.674198, 2023, 174873, 2023]
[230, 'Edinburgh', 'United Kingdom', 43.3872, 2024, 566917, 2024]
[231, 'Edmonton Metropolitan Region', 'Canada', 74.617, 2021, 1480159, 2021]
[232, 'Eindhoven', 'Netherlands', 48.257, 2020, 300751, 2020]
[233, '"El Centro, CA MSA"', 'United States', 13.483299, 2023, 179057, 2023]
[234, '"El Paso, TX MSA"', 'United States', 48.609163, 2023, 873331, 2023]
[235, '"Elizabethtown-Fort Knox, KY MSA"', 'United States', 8.182312, 2023, 157026, 2022]
[236, '"Elkhart-Goshen, IN MSA"', 'United States', 20.85776, 2023, 206409, 2023]
[237, '"Elmira, NY MSA"', 'United States', 4.544209, 2023, 81325, 2023]
[238, '"Enid, OK MSA"', 'United States', 3.804621, 2023, 62023, 2023]
[239, 'Enschede', 'Netherlands', 27.337, 2020, 315807, 2014]
[240, 'Erfurt', 'Germany', 20.347, 2020, 213227, 2021]
[241, '"Erie, PA MSA"', 'United States', 14.204975, 2023, 267571, 2023]
[242, '"Eugene-Springfield, OR MSA"', 'United States', 22.550913, 2023, 381181, 2023]
[243, 'European Metropolis of Lille', 'France', 101.806, 2021, 1300000, 2021]
[244, '"Evansville, IN-KY MSA"', 'United States', 27.437679, 2023, 314038, 2022]
[245, 'Ezhou', 'China', 14.574, 2020, 1079353, 2020]
[246, '"Fairbanks, AK MSA"', 'United States', 7.198784, 2023, 95356, 2022]
[247, 'Faisalabad', 'Pakistan', 43.0, 2013, 3204704, 2017]
[248, 'Fangchenggang', 'China', 10.624, 2020, 1046068, 2020]
[249, '"Fargo, ND-MN MSA"', 'United States', 20.535575, 2023, 262620, 2023]
[250, '"Farmington, NM MSA"', 'United States', 6.822347, 2023, 120675, 2023]
[251, '"Fayetteville, NC MSA"', 'United States', 28.20516, 2023, 392336, 2023]
[252, '"Fayetteville-Springdale-Rogers, AR MSA"', 'United States', 40.776485, 2023, 590337, 2023]
[253, '"Flagstaff, AZ MSA"', 'United States', 9.967529, 2023, 144472, 2023]
[254, 'Flensburg', 'Germany', 10.839, 2020, 113800, 2021]
[255, '"Flint, MI MSA"', 'United States', 19.151079, 2023, 401522, 2023]
[256, '"Florence, SC MSA"', 'United States', 12.505628, 2023, 199630, 2023]
[257, '"Florence-Muscle Shoals, AL MSA"', 'United States', 7.212666, 2023, 155175, 2023]
[258, '"Fond du Lac, WI MSA"', 'United States', 6.45153, 2023, 103948, 2023]
[259, '"Fort Collins, CO MSA"', 'United States', 26.974178, 2023, 366778, 2022]
[260, '"Fort Smith, AR-OK MSA"', 'United States', 12.729594, 2023, 231280, 2023]
[261, '"Fort Wayne, IN MSA"', 'United States', 30.231008, 2023, 457842, 2023]
[262, 'Fort-de-France', 'France', 10.741, 2021, 75165, 2022]
[263, 'Fortaleza', 'Brazil', 21.7, 2012, 3615767, 2022]
[264, 'Fredericton', 'Canada', 5.029, 2021, 112428, 2021]
[265, 'Freiburg im Breisgau', 'Germany', 30.404, 2020, 656753, 2021]
[266, '"Fresno, CA MSA"', 'United States', 60.151259, 2023, 1180020, 2023]
[267, 'Fukuoka–Kitakyushu', 'Japan', 182.952, 2019, 4750000, 2020]
[268, 'Fuzhou', 'China', 183.0, 2022, 4450000, 2022]
[269, '"Gadsden, AL MSA"', 'United States', 3.776967, 2023, 103241, 2023]
[270, '"Gainesville, FL MSA"', 'United States', 21.823778, 2023, 352126, 2023]

In [217]:
TABLE_A

,GDP ID,City Proper/Metropolitan Area,Country/Region,Official est. GDP up to date (billion US$),GDP Year,Metropolitan Population,Population Year
0,1,A Coruña metropolitan area,Spain,28.819000,2020,1121815,2020
1,2,Aachen,Germany,24.296000,2020,249070,2021
2,3,Aalborg,Denmark,31.855000,2021,219487,2021
3,4,Aarhus,Denmark,54.927000,2021,352751,2021
4,5,"""Abbotsford, British Columbia""",Canada,7.435000,2021,205834,2021
...,...,...,...,...,...,...,...
994,995,Delhi,India,521.500000,,,
995,996,Rhine-Ruhr,Germany,634.437000,,,
996,997,Milan,Italy,233.596000,,,
997,998,New York,United States,2298.868394,,,
998,999,Shanghai,China,663.874000,,,

In [221]:
TABLE_A.to_csv("tableA.csv", index=False)